:root{
    /* Colors variables */
        /* main colors */
        --indigo: #132843;
        --jaune: #f8ed31;
        --orange: #faa62a;
        --red: #f03e24;

        /* greys */
        --blanc: #fbfbfb;
        --gris-clar: #b8b4b4;
        --gris-foncé: #61605e;
        --noir: #181a19;

    /* Text-size styles */
        /* base size: body-1 (18px) */
        --heading-1: 2.25rem;
        --heading-2: 1.375rem;
        --heading-3: 1.25rem;
        --body-1: 1.125rem;
        --body-2: 0.938rem;
        --small-text: 0.813rem;
        --button: 1.375rem;
        --small-text-uppercase: 0.813rem;

    /* Font-family styles */
        --font-body: "Mulish", sans-serif;
        --font-heading: "QuickSand", sans-serif;
}   