:root{
    /* Colors variables */
        /* main colors */
        --indigo: #132843;
        --jaune: #f8ed31;
        --orange: #faa62a;
        --red: #f03e24;

        /* greys */
        --blanc: #fbfbfb;
        --gris-clar: #b8b4b4;
        --gris-foncé: #61605e;
        --noir: #181a19;

    /* Text-size styles */
        --heading-1: 2.25rem; /*36px*/
        --heading-2: 1.375rem; /*22px*/
        --heading-3: 1.25rem; /*20px*/
        --body-1: 1.125rem; /*18px*/
        --body-2: 0.938rem; /*15px*/
        --small-text: 0.813rem; /*13px*/
        --button: 1.375rem; /*22px*/
        --small-text-uppercase: 0.813rem; /*13px*/

    /* Font-family styles */
        --font-body: "Mulish", sans-serif;
        --font-heading: "QuickSand", sans-serif;
}   