.hero__title-about {
    position: absolute;
    color: var(--indigo);
    text-align: center;
    margin-left: 130px;
    margin-top: 170px;
    margin-right: 44px;
}

.hero__image-about {
    width: 100%;
    height: 401px;
    object-fit: cover;
}

.hero__section {
    margin: 0 0 40px 0;
}