.main__section-film {
    display: flex;
    gap: 30px;
}
.main__section-img{
    width: 50%;
    margin-top: 40px;
}

.main__section-list{
    list-style: none;
    padding: 0;
}
.main__section-text{
    margin-top: 40px;
}

.main__video{
    width: 100%;
}

.main__subtitle-info::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
}