.section--infos {
    margin-top: 36px;
}

.section__title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.section__image-info {
    width: 90%;
    margin-left: 20px;
}

.section__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.section__figcaption {
    font-size: var(--body-2);
    font-family: var(--font-body);
    color: var(--gris-foncé);
    padding: 10px;
}

.section__maps {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.section__map {
    position: absolute;
}

.section__map-icon {
    position: relative;
    top: -65%;
    right: -46.5%;
}