.hero__title-programmation {
    position: absolute;
    padding: auto;
    text-align: center;
    margin-left: 65px;
    margin-top: 87px;
    margin-right: 44px;
}

.hero__image-programmation {
    width: 100%;
    height: 401px;
    object-fit: cover;
}

.hero__section {
    margin-top: 40px;
}

.hero__subtitle-programmation {
    margin-top: 41px;
    margin-left: 28px;
    margin-right: 40px;
    font-weight: 550;
}

.carousel__content-title {
    margin-bottom: 22px;
    margin-left: 10px;
    font-weight: 600;
}

.section__content-list {
    padding-left: 0;
    display: flex;
}

.section__content-item {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section__content-link {
    color: var(--noir);
    text-transform: uppercase;
    font-size: var(--small-text-uppercase);
    font-family: var(--font--heading);
    font-weight: 575;
}

.section__list {
    list-style: none;
    padding-left: 0;
}

.section__text {
    font-size: var(--body-1);
    font-family: var(--font-body);
    color: var(--gris-foncé);
    margin-top: 20px;
    margin-bottom: 10px;
}

.carousel__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
}

.carousel__caption-name,
.carousel__caption-realisator {
    font-size: var(--small-text);
    font-family: var(--font-body);
    font-weight: 400;
    margin: 5px 0;
    text-transform: uppercase;
}

.carousel__caption-name {
    text-decoration: underline;
    margin-bottom: 0;
}

.section__info-list {
    list-style: none;
    padding: 0;
}

.section__activites-list {
    list-style: none;
    padding: 0;
}